#clusteringModal.reveal-modal(data-reveal=true)
  section.panel.radius.analysis-chart#clustering_charts_form
    a.close-reveal-modal &#215
    h3.subheader Clustering charts

    form
      .row
        label(class='inline') Select output parameters:
        ul(style='list-style-type:none').outputParams
          each parameter in output
            li
              label
                input(type='checkbox', value=parameter.id)
                = parameter.label

      .row
        ul.inline-list
          li
            button.button.radius Load chart
          li
            img(src='#{prefix}/images/loading.gif', id='busy_clustering', size='16x16', style='display: none')

  .charts
    .scripts

script.
  $(function() {
    $("#clusteringModal").foundation("reveal", "close");

    var experimentID = "#{experimentID}";
    var clustering_chart_counter = 0;
    var scripts_loaded = false;

    var load_chart = function() {
      var clustering_chart_div = $("<div id=\"clustering_chart_"+clustering_chart_counter+"\">")[0];
      $("#clusteringModal .charts").prepend(clustering_chart_div);
      var output_params = "";
      $("#clusteringModal .outputParams :checked").each(function() {
        output_params += "&output_params=" + $(this).val();
      });
      var query_params = "id="+experimentID;
          query_params += output_params;
          query_params += "&chart_id="+clustering_chart_counter;
      if(output_params.length>0){
        $(clustering_chart_div).load("#{prefix}/get/clustering?"+query_params, function(){
          $("#busy_clustering").hide();
      
          var targetOffset = $(this).offset().top;
          $('html,body').animate({ scrollTop: targetOffset }, 1000);
        });
        clustering_chart_counter++;
      }
      else {
        $("#busy_clustering").hide();
      }
    }

    $("#clusteringModal button").bind("click", function() {
      $("#busy_clustering").show();
      if(!scripts_loaded) {
        $("#clusteringModal .scripts").load("#{prefix}/scripts/clustering", function() {
          load_chart();
          scripts_loaded = true;
        });
      }
      else {
        load_chart();
      }

      return false;
    })
  })